<nav class="repeat-sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard">
        Dashboard<i class="fa fa-line-chart pull-right" aria-hidden="true"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/user">
        Users<i class="fa fa-user pull-right" aria-hidden="true"></i>
      </a>
      <ul class="nav-item fa-ul" role="menu">
        <li><i class="fa fa-plus" aria-hidden="true"></i>
          <a routerLink="/user/new">
            New
        </a></li>
      </ul>
    </li>
  </ul>
</nav>
