<div class="container">

  <table id="user-search-table" class="table table-hover" *ngIf="users">
    <thead class="thead-inverse">
    <tr>
      <th>Vorame</th>
      <th>Name</th>
      <th>Email</th>
      <th>Angelegt am</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users" (click)="editUser(user)">
      <td>{{user.firstname}}</td>
      <td>{{user.familyname}}</td>
      <td>{{user.email}}</td>
      <td>{{user.timestamp | date:'medium'}}</td>
    </tr>
    <tr>
    </tbody>
  </table>

</div>

